QMenuBar#myMenuBar
{
    background-color: grey;
}

QLabel#login
{
   background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #E0E0E0, stop: 1 #FFFFFF);
   border-radius: 5px;
   color: black;
   font: bold 14px;
}

QLabel#avatar
{
    border-style: outset;
    border-width: 3px;
    border-radius: 10px;
    border-color: rgb(100,100,100);
    font: bold;
}

QComboBox 
{
     border: 1px solid gray;
     border-radius: 3px;
     padding: 1px 18px 1px 3px;
     min-width: 6em;
}
 
QComboBox:on 
{
    padding-top: 3px;
    padding-left: 4px;
}
 
QComboBox::drop-down 
{
    subcontrol-origin: padding;
    subcontrol-position: top right;
    width: 15px;
    border-left-width: 1px;
    border-left-color: darkgray;
    border-left-style: solid;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

QComboBox::down-arrow 
{
    image: url(./down_arrow.png);
}
 
QComboBox::down-arrow:on 
{
     top: 1px;
     left: 1px;
}

QMainWindow
{
    background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #000000, stop: 1 #FFFFFF);

}

QMainWindow::separator 
{
    background: black;
    width: 3px;
    height: 3px;
}

QMainWindow::separator:hover 
{
    background: grey;
}

QListWidget 
{
    alternate-background-color: yellow;
}

QListWidget 
{
    show-decoration-selected: 1;
}

QListWidget::item:alternate 
{
    background: #EEEEEE;
}

QListWidget::item:selected 
{
    border: 1px solid #6a6ea9;
}

QListWidget::item:selected:!active 
{
    background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #ABAFE5, stop: 1 #8588B2);
}

QListWidget::item:selected:active 
{
    background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #6a6ea9, stop: 1 #888dd9);
}

QListWidget::item:hover 
{
    background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #FAFBFE, stop: 1 #DCDEF1);
}

QLabel#loginAccount
{
    color: black;
    font: bold, 12px;
}

QLabel#passwordAccount
{
    color: black;
    font: bold, 12px;
}

QLabel#info
{
    color: red;
    font: bold, 14px;
}

QLabel#createAccount
{
    font: bold, 16px;
}

QLineEdit 
{
     border: 2px solid gray;
     border-radius: 10px;
     padding: 0 8px;
     background: white;
     selection-background-color: darkgray;
}

QLineEdit[echoMode="2"] 
{
    lineedit-password-character: 9679;
}
 
QLineEdit:read-only 
{
    background: lightblue;
}

QLabel#registerTextInfo
{
    background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #E0E0E0, stop: 1 #FFFFFF);
    border-radius: 10px;
    color: black;
    font: bold 12px;
}

QLabel#registerLogin
{
    background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #E0E0E0, stop: 1 #FFFFFF);
    border-radius: 10px;
    color: black;
    font: bold 12px;
}

QLabel#registerPassword
{
    background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #E0E0E0, stop: 1 #FFFFFF);
    border-radius: 10px;
    color: black;
    font: bold 12px;
}

QGroupBox
{
    background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #E0E0E0, stop: 1 #FFFFFF);
    border: 2px solid gray;
    border-radius: 5px;
    margin-top: 1ex;
    color: black;
    font: bold, 14px;
}
 
QGroupBox::title
{
    background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #E0E0E0, stop: 1 #FFFFFF);
    border-radius: 5px;
    subcontrol-origin: margin;
    subcontrol-position: top center;
    padding: 0 3px;
}

QGroupBox::indicator
{
    width: 13px;
    height: 13px;
}

QDialog#createAccount
{
    background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #000000, stop: 1 #FFFFFF);
}


QMessageBox
{
    background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #FFFFFF, stop: 1 #000000);
    dialogbuttonbox-buttons-have-icons: true;
    dialog-ok-icon: url(status_connected.png);
    font: bold, 12px;
}

QPushButton#connection
{
    background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #E0E0E0, stop: 1 #FFFFFF);
    border: 2px solid gray;
    border-radius: 5px;
    color: black;
    font: bold, 12px;    
}